.MyProfile {
    .copyright {
        position: relative;
        top: 150px;
    }
    
    .card {
        margin: 0 auto;
    }

    .celebrations {
        .title {
            margin: 60px 0 35px 0;
        }
    }
}
